<footer class="footern-main">
   <div class="row">
     <div class="col-md-6">
        <div>
          <ul>
            <li>
              <a href="">
                <img src="public/img/assets/byer-logo.png">
              </a>
            </li>
            <li>
              <a href="">About Us</a>
            </li>
            <li>
              <a href="">Contact Us</a>
            </li>
            <li>
              <a href="">Privacy Policy</a>
            </li>
            <li>
              <a href="">Terms & Conditions</a>
            </li>
          </ul>
        </div>
     </div>
     <div class="col-md-6">
       <ul>
          <li>
              <a class="fb-ic" href="http://fb.me/BYER.IN" target="_blank">
              <i class="fa fa-facebook white-text mr-4" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="fb-ic" href="http://fb.me/BYER.IN" target="_blank">
            <i class="fa fa-facebook white-text mr-4" aria-hidden="true"></i>
          </a>
          </li>
          <li>
            <a class="tw-ic" href="https://twitter.com/byer_in"  target="_blank">
            <i class="fa fa-twitter white-text mr-4" aria-hidden="true" ></i>
          </a>
          </li>
          <li>
             <a class="ins-ic" href="https://www.instagram.com/byer.in/" target="_blank">
            <i class="fa fa-instagram  white-text" aria-hidden="true"> </i>
          </a>
          </li>
        </ul>
     </div>
   </div>
</footer>



<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          
          <!-- Twitter -->
          
         



          <!-- Google +-->
         <!--  <a class="gplus-ic">
            
            <i class="fa fa-google-plus-official  white-text mr-4" aria-hidden="true"></i>

          </a>
          
          <a class="li-ic">
            
            <i class="fa fa-linkedin white-text mr-4" aria-hidden="true"></i>

          </a> -->



          <!--Instagram-->
         

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        
        <h6 class="text-uppercase font-weight-bold">BYER</h6>
      
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 20px;">
        <p>Byer is a technology based platform which gives marketing and logistic solutions to the SHG and MSME groups
         who want to sell their products and increase their sales through online in the retailer market. Consumers can
          buy products through our app and website from their nearest shop.</p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style='text-align: center;'>Make Money With Us</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="join?who=shg">Sell on Byer</a>
        </p>

        <p>
          <a class="dark-grey-text" href="join?who=seller">Become Selling Partner</a>
        </p>




        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Information</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="about">About us</a>

        </p>
        <p>
          <a class="dark-grey-text" href="home#contactid">Contact us</a>
          
        </p>
        <p>
          <a class="dark-grey-text" href="#">Blog</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Terms and Conditions</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Media</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Bhubaneswar, India</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> customer.byer@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +91  7008342004</p>
        <!-- <p>
          <i class="fa fa-print mr-3"></i> + 0919191919</p> -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright: Byer.in
  </div>
  <!-- Copyright -->

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script type="text/javascript" src="public/js/slick.js"></script>
         <script type="text/javascript" src="public/js/slick.min.js"></script>

        <!-- Custom JavaScript -->
        <script type="text/javascript" src="assets/js/custom.js"></script>
          <script type="text/javascript">
            $(".banner-slider").slick({
                dots: false,
                autoplay: true,
                autoplaySpeed: 3000,
                infinite: true,
                arrows: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                responsive: [
                  {
                    breakpoint: 768,
                    settings: {
                      arrows: false,
                      centerMode: false,
                      centerPadding: '40px',
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                  },
                  {
                    breakpoint: 480,
                    settings: {
                      arrows: false,
                      centerMode: false,
                      centerPadding: '40px',
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                  }
                  ]
              });
             $(".gallery-slider").slick({
                dots: false,
                autoplay: true,
                autoplaySpeed: 3000,
                infinite: true,
                arrows: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                responsive: [
                  {
                    breakpoint: 768,
                    settings: {
                      arrows: false,
                      centerMode: false,
                      centerPadding: '40px',
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                  },
                  {
                    breakpoint: 480,
                    settings: {
                      arrows: false,
                      centerMode: false,
                      centerPadding: '40px',
                      slidesToShow: 1,
                      slidesToScroll: 1
                    }
                  }
                  ]
              });
            </script>


<!-- <script type="text/javascript" src="jquery.lazy.min.js"></script> -->