<%- include('partials/header')%>
<%
  if(session=='user'||session=='partner'){%>
 <% }
%>

<section style="margin-top: 10%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="main-heading wow slideInUp"><b>Our Approach</b> <span>Byer</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 50px;text-align: center;">
         <br>
         In this dynamic world, one of the greatest transformation of the modern community is digitization. The transformation of physical process into digital services have gained a huge penetration in the current market. By understanding the market needs and pain points of our customers, our dedicated team is trying to solve these tough problems using cutting edge technologies, artificial intelligence, innnovative business models. 
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 50px;text-align: center;"> 
        <img src="public/img/assets/approach.jpg" style="width: 60%; "/>
      </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 50px;text-align: center;"><h2 class="main-heading wow slideInUp"><b>Core Values</b> <span>Byer</span></h2>
         <br>
         We believe that the foundation of a great enduring company is its core
         values. We have defined our core values that is in agreement with our
         vision.<br>
         Our team is always aligned with the mentioned key core values.
         <br>
         1. Customer Extremists<br>
         2. Empowerment of local retailers<br>
         3. Hunger for creating social impact <br>
       </div>
      </div>
      </div>
      </section>



 <%- include('partials/footer') %>


   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
