

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="public/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="public/css/custom-new.css">
    <link rel="stylesheet" type="text/css" href="public/css/slick.css">
    <link rel="stylesheet" type="text/css" href="public/css/slick-theme.css">
    <!-- fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Byer</title>
    </head>
<body>

<script type="text/javascript">
  
function userForget(){
// var userForm=document.getElementsByClassName("userForm");
//   var partnerForm=document.getElementsByClassName("partnerForm");
  document.getElementById("forgetPassForm").action="/forget?type=user";
document.getElementById("userLogBtnF").style.backgroundColor="#86C9D5";
  document.getElementById("partnerLogBtnF").style.backgroundColor="#DBEEF1";

}



function partnerForget(){
//   var userForm=document.getElementsByClassName("userForm");
//   var partnerForm=document.getElementsByClassName("partnerForm");
  // document.getElementById("userForm").style.display = 'none';
  // document.getElementById("partnerForm").style.display = 'block';

document.getElementById("forgetPassForm").action="/forget?type=partner";
  document.getElementById("userLogBtnF").style.backgroundColor="#DBEEF1";
  document.getElementById("partnerLogBtnF").style.backgroundColor="#86C9D5";

}

</script>




<%
var userbtnCol='#86C9D5';
var partnerbtnCol="#DBEEF1";
if(incorrect=='sessionExpired'){
  console.log('aaaaaaaaaaaandar hai');
%>


<style>
  .incorrect-section{
    display: block!important;
  }

</style>
<%}%>

<div class='forgetpass' >


<section id="wrapper">
    <div>
        <div>
            <div class="login-wrapper1">
                <div class="inner-part login-logo-wrapper">
                    <div class="login-logo-inner width-full">
                        <p><a href="home"><img src="public/img/assets/byer-logo.png" alt="Logo"></a></p>
                        <h2>Welcome</h2>
                        <h5>Nice to see you</h5>
                        
                    </div>
                </div>
                <div class="inner-part">
                    <div class="login-details">
                        <div class="width-full">
                      <h2 class="title-login">Forgot Password</h2>
                            <div class="form-wrapper">
                                <form class="form-signin forgetPassForm" id="forgetPassForm" method="post" action=<%=action%>>
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type="tel" name="mobNo" id="inputMobNo" class="form-control" placeholder="Mobile No" required autofocus minlength="10" maxlength="10">
                                    </div>
                                    
                                    <div style="margin-top: 30px;">
                                        <button type="submit" class="common-btn">Send OTP</button>
                                    </div>
                                </form>
                                <p class="dont-account text-center">Don't have a account? <a href="register">Sign up.</a>  </p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div> 
        </div>
    </div>
</section>

</div>









<%
if(action=='otpVerification'){
 %>
<style>
.confirmation-form{
  display: block!important;
}

.forgetpass{
  display:none!important;
}

</style>

<%}
if(incorrect==true){
%>

<style >
  .incorrect-otp-section{
    display: block!important;
  }

</style>




<%}
if(action=='resetPassword'){

%>


<style>
.confirmation-form{
  display: none!important;
}

.forgetpass{
  display:none!important;
}

.newPass{
  display: block!important;
}

</style>

<%}%>



<!-- *************************otp form start here************************************ -->

<div class='confirmation-form' id='otp' style="display: none;">


<section id="wrapper">
    <div>
        <div>
            <div class="login-wrapper1">
                <div class="inner-part login-logo-wrapper">
                    <div class="login-logo-inner width-full">
                        <p><a href="home"><img src="public/img/assets/byer-logo.png" alt="Logo"></a></p>
                        <h2>Welcome</h2>
                        <h5>Nice to see you</h5>
                        
                    </div>
                </div>
                <div class="inner-part">
                    <div class="login-details">
                        <div class="width-full">
                      <h2 class="title-login">Confirm OTP</h2>

                           <p>OTP is send to the mobile No <b><%=mobNo%></b></p>
                            <div class="form-wrapper">

                                 <form class="form-signin" method="post" action="/forget?step=confirm">
                                    <div class="form-group">
                                        <label>OTP</label>
                                        <input name="otp" type="otp" id="otp" class="form-control" placeholder="OTP"  maxlength="6" minlength="6" required autofocus>
                                    </div>
                                    
                                    <div style="margin-top: 30px;">
                                        <button type="submit" class="common-btn">confirm</button>
                                    </div>
                                </form>
                                <p class="dont-account text-center">Don't have a account? <a href="register">Sign up.</a>  </p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div> 
        </div>
    </div>
</section>


</div>


<!-- ***************************otp form end here*************************** -->


















<!-- **************************new pass word form start here**************************** -->

<div class='newPass' style="display: none">


<section id="wrapper">
    <div>
        <div>
            <div class="login-wrapper1">
                <div class="inner-part login-logo-wrapper">
                    <div class="login-logo-inner width-full">
                        <p><a href="home"><img src="public/img/assets/byer-logo.png" alt="Logo"></a></p>
                        <h2>Welcome</h2>
                        <h5>Nice to see you</h5>
                        
                    </div>
                </div>
                <div class="inner-part">
                    <div class="login-details">
                        <div class="width-full">
                      <h2 class="title-login">Set new PassWord</h2>
                            <div class="form-wrapper">
                                 <form class="form-signin forgetPassForm" id="forgetPassForm" method="post" action="/forget?action=reset" oninput='password.setCustomValidity(password.value != passwordSecond.value ? "Passwords do not match." : "")'
            >
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input name="password" type="password" id="inputPassword" class="form-control password1" placeholder="Password" minlength="6" required autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                         <input  type="password" name="passwordSecond" id="inputPassword" class="form-control password2" placeholder="Confirm Password" minlength="6" required autocomplete="off">
                                    </div>
                                    
                                    <div style="margin-top: 30px;">
                                        <button type="submit" class="common-btn">Submit</button>
                                    </div>
                                </form>
                                <p class="dont-account text-center">Don't have a account? <a href="register">Sign up.</a>  </p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div> 
        </div>
    </div>
</section>






</div>



<!-- **************************new pass word form end here**************************** -->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
