<%- include('partials/header')%>
<%
  if(session=='user'||session=='partner'){%>
 <% }
%>

<style>
  .backgroundText{
    background-color: rgb(0, 0, 0,0.4);
  }
</style>
<!--<section class="sec-banner">
  <div class="container-fluid p-0">
     <div class="row">
        <div class="col-md-12">
            <div class="banner-slider">
                <div class="item">
                    <img src="public/img/assets/banner.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h3>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain.</h3>
                      <a href=""><span>Shop Now</span></a>
                    </div>
                </div>
                <div class="item">
                    <img src="public/img/assets/banner2.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h3>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain.</h3>
                      <a href=""><span>Shop Now</span></a>
                    </div>
                </div>
                <div class="item">
                    <img src="public/img/assets/banner3.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h3>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain. </h3>
                      <a href=""><span>Shop Now</span></a>
                    </div>
                </div>
            </div>
          </div>
     </div>
  </div>
</section>-->
<img src="public/img/assets/banner2.png" class="img-fluid">
<div class="backgroundText">
  <h4 class="backgroundText" style="position: absolute; top: 40%; text-align: center; left: 10%; right: 10%; color: white; font-size: 30px;">BYER DIGITISE THE RETAIL STORE AND HELPS THEM IN MANAGING THEIR BUSINESS MORE EFFICIENTLY.
    •  STORE DIGITISATION •  STORE MANAGEMENT •  DELIVERY •  B2B
  </h4>
</div>
  <h4 class="backgroundText" style="position: absolute; top: 80%; text-align: center; left: 10%; right: 10%; color: white;">"Simplify businesses and empower retailers for enabling better India" </h4>

<section>
  <div class="container-fluid">
    <div class="row easy">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>MAKING BUSINESS EASY</b> <span>RETAILER</span></h2>
      </div>
    </div>
    
    <div class="row easy" style="border: 5px solid #e7f6e5; margin: 10px; ">
      <div class="col-lg-6 col-md-6 col-sm-6"> <img class="img1" src="public/img/assets/byer-logo.png" alt=""> </div>
      <div class="col-lg-6 col-md-6 col-sm-6"> <h6 class="para1"> Store digitisation 360-degree complete support for the retailers to convert their physical shop into a digital one. Our O2O platform connects  local retailer to their local customer  
       </h6> </div>
    </div>
    <div class="row easy" style="border: 5px solid #e7f6e5; margin: 10px; ">
      <div  class="col-lg-6 col-md-6 col-sm-6 "> <h6 class="para2"> Store  Management
        A single platform for sales, purchase, delivery and analytics for efficient store management to withstand tough competition from the big retail giants. </h6>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-6 "><img class="img2" src="public/img/assets/buy.png" alt=""></div>
    </div>
    <div class="row easy" style="border: 5px solid #e7f6e5; margin: 10px;">
      <div  class="col-lg-6 col-md-6 col-sm-6 "><img class="img3" src="public/img/assets/how-it-works2.png" alt=""></div>
      <div class="col-lg-6 col-md-6 col-sm-6 "><h6 class="para3">Delivery
        With Byer's express delivery, provide  high quality delivery service to  your customers conveniently. </h6>
        </div>
    </div>
    <div class="row easy" style="border: 5px solid #e7f6e5; margin: 10px;">
      <div class="col-lg-6 col-md-6 col-sm-6 "><h6 class="para4"> B2B
        Our Market place directly connects rural producers with retailers. </h6>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-6 "><img class="img4" src="public/img/assets/banner2.png" alt=""></div>
    </div>
    <div class="row easy" style="border: 5px solid #e7f6e5; margin: 10px; ">
      <div class="col-lg-6 col-md-6 col-sm-6"><img class="img5" src="public/img/assets/how-it-works4.png" alt=""></div>
      <div class="col-lg-6 col-md-6 col-sm-6"><h6 class="para5"> An user-friendly platform that enables convenient shopping of wide variety of products from the local retail stores. Search products, check availability at your favourite store, add to cart & place order. </h6>
      </div>
    </div>
    <div class="row easy" style="border: 5px solid #e7f6e5; margin: 10px; ">
      <div class="col-lg-6 col-md-6 col-sm-6"><h6 class="para6">Set timer, schedule your delivery at a preferred time & collect your order from the shop. Pay the amount after receiving your products at the shop.
      </h6></div>
      <div class="col-lg-6 col-md-6 col-sm-6"><img  class="img6" src="public/img/assets/how-it-works5.png" alt=""></div>
    </div>
  </div>
</section>

<!--<section class="how-it-work-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>How It Works</b> <span>About</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <ul>
            <li class="order-1 wow slideInLeft" >
              <div class="how-it-work-box">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Clustering SHG & producers</h4>
                      <img src="public/img/assets/how-it-works1.png">
                   </div>
                </div>
                <p>We cluster SHG& producers on the basis of products and regions</p>

              </div>
            </li>
            <li class="order-2 wow slideInLeft" >
              <div class="how-it-work-box">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Collection point</h4>
                      <img src="public/img/assets/how-it-works2.png">
                   </div>
                </div>
                <p>We collect SHG products at a single point region wise by providing logistics support to the SHGs.</p>

              </div>
            </li>
            <li class="order-3 wow slideInLeft" >
              <div class="how-it-work-box">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Quality Check</h4>
                      <img src="public/img/assets/how-it-works3.png">
                   </div>
                </div>
                <p>Customized sorting, grading and packaging help to maintain the quality needed for the customers.</p>

              </div>
            </li>
            <li class="order-6  wow slideInRight" >
              <div class="how-it-work-box">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Byer ERP</h4>
                      <img src="public/img/assets/how-it-works4.png">
                   </div>
                </div>
                <p>We dispatch fresh products directly to the Retailers by our tech-enabled supply chain from our centralized distribution center.</p>

              </div>
            </li>
            <li class="order-5 wow slideInRight" >
              <div class="how-it-work-box">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Retailers</h4>
                      <img src="public/img/assets/how-it-works5.png">
                   </div>
                </div>
                <p>Retailers get authentic rural products delivered to their doorstep without any hassle.</p>

              </div>
            </li>
            <li class="order-4 wow slideInRight" >
              <div class="how-it-work-box order2">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Distribution center</h4>
                      <img src="public/img/assets/how-it-works6.png">
                   </div>
                </div>
                <p>By using Byer ERP mobile app retailers can directly connect with their customers to sell rural authentic products alongwith their own products.</p>

              </div>
            </li>
            <li class="order-7 wow slideInDown">
              <div class="how-it-work-box">
                <div class="inner-how-work">
                   <div class="img-div">
                     <h4>Doorstep Delivery</h4>
                      <img src="public/img/assets/how-it-works7.png">
                   </div>
                </div>
                <p>Consumers can get daily essentials quality products easily delivered to their doorstep.</p>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="get-app-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>DOWNLOAD OUR APP</b> <span>APP</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="get-app-inner wow slideInLeft">
            <img src="public/img/assets/byer-producer.png" class="img-fluid">
            <p>Coming soon in next phase...</p>
            <a href="" style="pointer-events: none;"><img src="public/img/assets/google-play.png" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-md-4">
          <div class="get-app-inner wow slideInUp">
            <img src="public/img/assets/byer-retailer.png" class="img-fluid">
            <p>Creat their own virtual shop by partner with us to sell your product and rural producers product in order to increase more sales and get many more value added services.</p>
            <a href=""><img src="public/img/assets/google-play.png" class="img-fluid"></a>
          </div>
       </div>
       <div class="col-md-4">
          <div class="get-app-inner wow slideInRight">
            <img src="public/img/assets/byer-logo.png" class="img-fluid">
            <p>This app enables end consumers to order their daily essentials and rural producers’ products from their nearest retailers.</p>
            <a href=""><img src="public/img/assets/google-play.png" class="img-fluid"></a>
          </div>
       </div>
     </div>
   </div>
 </section>

<section class="">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>MAKING OFFLINE SHOPPING CONVENIENT</b> <span>CUSTOMER</span></h2>
      </div>
    </div>
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3 style="text-align: center;">CUSTOMER RETAILER</h3>
          <br>
            <div class="banner-slider">
                <div class="item">
                    <img src="public/img/assets/banner.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h5>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain.</h5>
                      
                    </div>
                </div>
                <div class="item">
                    <img src="public/img/assets/banner2.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h5>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain.</h5>
                      
                    </div>
                </div>
                <div class="item">
                    <img src="public/img/assets/banner3.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h5>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain. </h5>
                      
                    </div>
                </div>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 style="text-align: center;">RETAILER TESTIMONIAL</h3>
            <br>
            <div class="banner-slider">
              
                <div class="item">
                    <img src="public/img/assets/banner.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h5>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain.</h5>
                      
                    </div>
                </div>
                <div class="item">
                    
                    <img src="public/img/assets/banner2.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h5>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain.</h5>
                      
                    </div>
                </div>
                <div class="item">
                    <img src="public/img/assets/banner3.png" class="img-fluid">
                    <div class="overlay"></div>
                    <div class="banner-inner-text">
                      <h5>Moving forward with a belief of transforming the life of rural producers by selling their authentic products directly to the retail & consumers world at best best price by our tech driven supply chain. </h5>
                      
                    </div>
                </div>
            </div>
          </div>
     </div>
  </div> 
</section>
<br>
<br>
<section>
  <div>
    <h6 style="text-align: center;">BUSINESS WITH US</h6>
    <h6 style="text-align: center;">ARE YOU PROVIDING HYPERLOCAL DELIVERY SERVICE? IF YES, THEN BYER IS FOR YOU. JOIN OUR PLATFORM AND GROW</h6>
    <h6 style="text-align: center;"> YOUR BUSINESS</h6>
  </div>
</section>
<br><br><br>

<section>
  <div>
    <h6 style="text-align: center;"><strong> OUR HUNGER FOR CREATING SOCIAL IMPACT MOTIVATES US TO UPDATE OURSELF CONTINUESLY </strong>  </h6>
    <h6 style="text-align: center;">Our team continuously working to solve complex problem that retailer and producers faces on their day to day business  by</h6>
    <h6 style="text-align: center;">using cutting edge technology, Artificial intelligence and innovative business model.</h6>
    <h6 style="text-align: center;">Do you have any suggestion please contact on info@byer.in</h6>
    <h6 style="text-align: center;">We are open to listen your suggestion.    </h6>
  </div>
</section>

<section>
    <div class="container">
     <br>
     <br>
     <div class="row">
       <div class="col-lg-4 col-md-6 col-sm-12"> <h4 style="text-align: center;"><strong>OUR APPROACH</strong></h4>
        <br>
        In this dynamic world, one of the greatest transformation of the modern community is digitization. The transformation of physical process into digital services have gained a huge penetration in the current market. By understanding the market needs and pain points of our customers, our dedicated team is trying to solve these tough problems using cutting edge technologies, artificial intelligence, innnovative business models. 
      </div>
       <div class="col-lg-4 col-md-6 col-sm-12"><h4 style="text-align: center;"><strong>CORE VALUE</strong> </h4>
        <br>
        We believe that the foundation of a great enduring company is its core
        values. We have defined our core values that is in agreement with our
        vision.<br>
        Our team is always aligned with the mentioned key core values.
        <br>
        1. Customer Extremists<br>
        2. Empowerment of local retailers<br>
        3. Hunger for creating social impact <br>
      </div>
       <div class="col-lg-4 col-md-6 col-sm-12"><h4 style="text-align: center;"><strong>JOIN US</strong></h4></div>
     </div>
   </div>
 </section>

<section class="about-us-sec index-about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>About Us</b> <span>Byer</span></h2>
      </div>
    </div>
    <div class="row align-item-center">
      <div class="col-md-6">
        <div class="about-img">
          <div class="row">
            <div class="col-md-6 p-0">
              <img src="public/img/assets/about-us.png" class="img-fluid wow slideInLeft">
              <img src="public/img/assets/about-us3.png" class="img-fluid wow slideInLeft">
            </div>
            <div class="col-md-6 p-0">
              <img src="public/img/assets/about-us2.png" class="img-fluid wow slideInUp">
              <img src="public/img/assets/about-us4.png" class="img-fluid wow slideInUp">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-content wow slideInRight">
          <p>Byer is one of the latest B2B trade platform, specially designed for the rural producers and retailers in India.</p>
          <p>Byer is India's one of the fastest growing authentic fresh produce supply chain company which connects the Rural producers directly with retailers by its tech enabled supply chain.</p>
          <p>We are also providing Byer ERP solutions to the retailers so that they can easily connect with the consumers to sell their products and thus by making this ERP platform we are committed to bring about a revolutionary change in the retail industry.</p>
        </div>
      </div>
    </div>
  </div>
</section>





<!--<section class="product-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>Most Searched Products</b> <span>Products</span></h2>
      </div>
    </div>
    <div class="row align-item-center">
      <div class="col-md-3">
        <div class="product-inner-box wow slideInLeft">
          <span>-10%</span>
          <img src="public/img/assets/product1.png" class="img-fluid">
          <h5>Black Eyed Peas Raungi/Lobhia</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-inner-box wow slideInUp">
          <span>-10%</span>
          <img src="public/img/assets/product2.png" class="img-fluid">
          <h5>Lentils Sabut Urad</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-inner-box wow slideInUp">
          <span>-10%</span>
          <img src="public/img/assets/product3.png" class="img-fluid">
          <h5>Dhokra Art</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-inner-box wow slideInRight">
          <span>-10%</span>
          <img src="public/img/assets/product4.png" class="img-fluid">
          <h5>Kala Chana</h5>
        </div>
      </div>
    </div>
  </div>
</section>-->




<!--<section class="gallery-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>#Byer</b> <span>Gallery</span></h2>
      </div>
    </div>
    <div class="row align-item-center">
      <div class="col-md-12">
          <div class="gallery-slider wow slideInRight">
             <div class="item">
               <div class="gallery-img">
                  <div class="content-gallery">
                    <h3>We promote and trade authentic tribal products to transform the tribal lives.</h3>
                  </div>
                  <img src="public/img/assets/gallery1.png" class="img-fluid">
                </div>
             </div>
              <div class="item">
               <div class="gallery-img">
                  <div class="content-gallery">
                    <h3>We believe in "Consume healthy Stay healthy."</h3>
                  </div>
                  <img src="public/img/assets/gallery2.png" class="img-fluid">
                </div>
             </div>
              <div class="item">
               <div class="gallery-img">
                  <div class="content-gallery">
                    <h3>We focus on creating a sustainable fresh food supply chain by connecting authentic producers from rural india with the retail world.</h3>
                  </div>
                  <img src="public/img/assets/gallery3.png" class="img-fluid">
                </div>
             </div>
              <div class="item">
               <div class="gallery-img">
                  <div class="content-gallery">
                    <h3>Good health reflects in consuming good food. Good food is what we source from direct farm. So consume organic to stay  hygienic.</h3>
                  </div>
                  <img src="public/img/assets/gallery4.png" class="img-fluid">
                </div>
             </div>
          </div>
      </div>
     
    </div>
  </div>
</section>-->



<!--<section class="problems-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>Pain Points</b> <span>Problem</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="get-app-inner wow slideInLeft">
            <div class="problem-counts">
              1.
            </div>
            <p>SHGs and rural producers experience difficulties in marketing, distribution and promotion of their products. They don't have a single level platform through which they can sell their products by their own brand name.</p>
          </div>
       </div>
       <div class="col-md-4">
          <div class="get-app-inner wow slideInUp">
            <div class="problem-counts">
              2.
            </div>
            <p>Retailers face difficulties in getting high quality hygienic products at good price and the everyday hassle of going to the market for purchasing products.</p>
          </div>
       </div>
       <div class="col-md-4">
          <div class="get-app-inner wow slideInRight">
            <div class="problem-counts">
              3.
            </div>
            <p>Consumers experience difficulties in getting tribal products and rural SHG made authentic food products at affordable price at their doorstep.</p>
          </div>
       </div>
     </div>
   </div>
 </section>-->



<!--<section class="problems-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>Pain Points</b> <span>Solution</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="get-app-inner wow slideInLeft">
            <div class="problem-counts">
              1.
            </div>
            <p>We connect retailers with the rural producers by eliminating the intermediaries by using our in house technology and analytics.</p>
          </div>
       </div>
       <div class="col-md-4">
          <div class="get-app-inner wow slideInUp">
            <div class="problem-counts">
              2.
            </div>
            <p>We built a strong logistics network to solve the inefficiencies in the highly fragmented Supply Chain.</p>
          </div>
       </div>
       <div class="col-md-4">
          <div class="get-app-inner wow slideInRight">
            <div class="problem-counts">
              3.
            </div>
            <p>We are creating a win-win situation for both rural producers and retailers. Rural SHG producers can sell their products at best price with their own brand name and on the other end, retailers receive authentic produce at competitive prices, delivered to their doorstep.</p>
          </div>
       </div>
     </div>
   </div>
 </section>-->


<!--<section class="benefits-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>Benefits To Retailers & Customers</b> <span>Benefits</span></h2>
      </div>
    </div>
    <div class="row align-item-center wow slideInUp">
      <div class="col-md-12">
        <div class="about-img">
           <img src="public/img/assets/benefits.png" class="img-fluid">
        </div>
      </div>
     </div>
    </div>
  </section>-->

<!--<section class="client-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>What Our Clients Says?</b> <span>Customer</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="customer-boxes wow slideInLeft">
           <div class="quote-img">
             <img src="public/img/assets/quote.png">
           </div>
           <p>We are creating a win-win situation for both rural producers and retailers. Rural SHG producers can sell their products at best price with their own brand name and on the other end, retailers receive authentic produce at competitive prices, delivered to their doorstep.</p>
           <div class="customer-name-box">
             <img src="public/img/assets/about-us3.png">
             <div>
               <h4>Mr. Abrahm</h4>
               <h6>CEO, Nestle Company</h6>
             </div>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="customer-boxes wow slideInUp">
           <div class="quote-img">
             <img src="public/img/assets/quote.png">
           </div>
           <p>We are creating a win-win situation for both rural producers and retailers. Rural SHG producers can sell their products at best price with their own brand name and on the other end, retailers receive authentic produce at competitive prices, delivered to their doorstep.</p>
           <div class="customer-name-box">
             <img src="public/img/assets/about-us3.png">
             <div>
               <h4>Mr. Abrahm</h4>
               <h6>CEO, Nestle Company</h6>
             </div>
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="customer-boxes wow slideInRight">
           <div class="quote-img">
             <img src="public/img/assets/quote.png">
           </div>
           <p>We are creating a win-win situation for both rural producers and retailers. Rural SHG producers can sell their products at best price with their own brand name and on the other end, retailers receive authentic produce at competitive prices, delivered to their doorstep.</p>
           <div class="customer-name-box">
             <img src="public/img/assets/about-us3.png">
             <div>
               <h4>Mr. Abrahm</h4>
               <h6>CEO, Nestle Company</h6>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>-->



<section class="contact-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading wow slideInUp"><b>Get In Touch</b> <span>Contact</span></h2>
      </div>
    </div>
     <div class="contact-form wow slideInRight">
       <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="Full Name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="email" class="form-control" name="" placeholder="Email ID">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="Phone Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Tell us what we can help you with..."></textarea>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="common-btn">Submit</button>
          </div>
     </div>
     <div class="address-row row wow slideInLeft">
       <div class="col-md-4">
         <div class="address-box">
           <img src="public/img/assets/phone.png">
           <h5>+91 7008342004</h5>
         </div>
       </div>
        <div class="col-md-4">
         <div class="address-box">
           <img src="public/img/assets/pin.png">
           <h5>Bhubaneswar, India</h5>
         </div>
       </div>
        <div class="col-md-4">
         <div class="address-box">
           <img src="public/img/assets/mail.png">
           <h5>customer.byer@gmail.com</h5>
         </div>
       </div>
     </div>
  </div>
</section>





 <%- include('partials/footer') %>


   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
