<!-- ********************AUTHOR****************
Ujjal Das
*************************************** -->







<!-- ****** created by*****
Ujjal das
*********** -->



<!doctype html>
<html lang="en">
  <head>

<style type="text/css">
  .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }
</style>




    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

    <title>MSME PRODUCTS</title>
    <link rel="icon" type="image/png" href="../img/logo/logo.png">
  </head>
  <body>
    








<div class="header" id="top-header" >
<!-- can add fixed-top here to reove the silde show -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0490F8;">
  <a class="navbar-brand" href="#" style="font-size:30px;color: #fff;text-decoration: blink;font-weight: bolder;">BYER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link"  href="../index.html">Home </a>
      </li>
      
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="shgProducts.html" style="color: #000!important;font-family: 'Poppins', sans-serif;">SHG PRODUCT</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="color: #000!important;font-family: 'Poppins', sans-serif;">MSME PRODUCT</a>
        </div>
      </li>-->
      <li class="nav-item">
        <a class="nav-link"  href="#" tabindex="-1" aria-disabled="true">B2B<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="aboutUS.html" tabindex="-1" aria-disabled="true">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  href="#" tabindex="-1" aria-disabled="true">BYER MITRA</a>
      </li>

      <li class="nav-item">
        <a class="nav-link "  href="#" tabindex="-1" aria-disabled="true">OUR APPROACH</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link "  href="register.html" tabindex="-1" aria-disabled="true">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  href="joinUs.html" tabindex="-1" aria-disabled="true">Join Us</a>
      </li>-->
    </ul>
    
  </div>
</nav>



<section class= "header-section">
  <div class ="center-div">
    <h1 class="font-weight-bold">LOG IN</h1>
   <!--  <p> HOME /About Us.</p>
    <div class="header-buttons">
      <a href="#">AboutUs</a>
      <a href="#contactid">Contact</a>

    </div> -->
  </div>
  

</section>
</div>




































































































































































<!-- ****************footer********************* -->

<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <!-- <i class="fab fa-facebook-f white-text mr-4"> </i> -->
            <i class="fa fa-facebook white-text mr-4" aria-hidden="true"></i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <!-- <i class="fab fa-twitter white-text mr-4"> </i> -->
            <i class="fa fa-twitter white-text mr-4" aria-hidden="true"></i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <!-- <i class="fab fa-google-plus-g white-text mr-4"> </i> -->
            <i class="fa fa-google-plus-official  white-text mr-4" aria-hidden="true"></i>

          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <!-- <i class="fab fa-linkedin-in white-text mr-4"> </i> -->
            <i class="fa fa-linkedin white-text mr-4" aria-hidden="true"></i>

          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <!-- <i class="fab fa-instagram white-text"> </i> -->
            <i class="fa fa-instagram  white-text" aria-hidden="true"></i>

          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        
        <h6 class="text-uppercase font-weight-bold">BYER</h6>
      
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 20px;">
        <p>Byer is a technology based platform which gives marketing and logistic solutions to the SHG and MSME groups
         who want to sell their products and increase their sales through online in the retailer market. Consumers can
          buy products through our app and website from their nearest shop..</p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">MSME Products</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">SHG Products</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Information</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="aboutUS.html">About us</a>
        </p>
        <p>
          <a class="dark-grey-text" href="../index.html#contactid">Contact us</a>
          
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Blog</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Terms and Conditions</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Media</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Bhubaneswar, India</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@byer.in</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +91  7008342004</p>
        <!-- <p>
          <i class="fa fa-print mr-3"></i> + 0919191919</p> -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright: Byer.in
  </div>
  <!-- Copyright -->

</footer>

<!-- ****************footer********************* -->





















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
